*,
html {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;


  --app-color: #ffffff;
  --pattern-color: rgb(165, 165, 165);
  --border-color: black;
  /* 
  --pattern-color: rgb(135, 135, 135);
  --white: #AAD;
  */
}

html {
  display: grid;
  text-align: center;
}

h1 {
  margin: 2rem;
}

#content {
  display: grid;
  gap: 1rem;
  padding-bottom: 5rem;
}

.img-container {
  display: flex;
  justify-content: center;

  /* borders */
  border-top: 0.25rem solid var(--border-color);
  border-bottom: 0.25rem solid var(--border-color);

  /* pattern */
  background: linear-gradient(45deg, transparent 49%, var(--pattern-color) 49.99% 50.01%, transparent 51%);
  background-size: 2.5em 2.5em;
  background-color: var(--app-color);
  opacity: 1;
}